<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>


	<div class="container">
		<h1> New Product </h1>


		<form action="" method="POST">

			<div class="form-group">
				<input type="text" name="name" class="form-control" placeholder="name">
			</div>
            <br>
			<div class="form-group">
                <label for="">insert multiple size by spacing between them</label>
				<input type="text" name="size" class="form-control" placeholder="size">
			</div>
            <br>
            <div class="form-group">
				<input type="text" name="price" class="form-control" placeholder="price">
			</div>
            <br>
            <div class="form-group">
                <label for="">insert multiple color by spacing between them</label>
				<input type="text" name="color" class="form-control" placeholder="colors">
			</div>
            <br>
			<div class="form-group">
				<input type="text" name="image" class="form-control" placeholder="image name">
			</div>
            <br>
            <div class="form-group">
				<input type="text" name="type" class="form-control" placeholder="type">
			</div>
            <br>
			<div class="form-group">
				<textarea name="description" class="form-control" placeholder="description"></textarea>
			</div>
			<br>
			<div class="form-group">
				<button type="submit" class="btn btn-warning">Save</button>
			</div>
		</form>

		<a href="/">Cancel</a>

	</div>

	<%- include ('../partials/footer') %>