<%- include ('partials/header') %>
  <%- include ('partials/navbar') %>
    

        <div class="container">
          <div class="row text-center">
            <div class="col">
              <h1 id="wa-heading">Western Apparel</h1>
            </div>
          </div>
          <div class="row text-center">

            <div class="col">
              <img src="images/index.jpg" alt="index" class="responsive" id="indexImage">
            </div>
          </div>
        </div>
        <%- include ('partials/footer') %>