<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>order history</title>
</head>
<body>
<div>
	<h1 style="text-align: center;">ORDER HISTORY</h1>
</div>
<div id="Orders_history">
	 <table style="width: 100%">
                        <tr>
                            <td class="FieldLabel">
                                <h3>Image </h3>
                            </td>
                            <td class="FieldLabel">
                                 <h3>Model</h3>
                            </td>
                            <td class="FieldLabel">
                                 <h3>Color</h3>
                            </td>
                            <td class="FieldLabel">
                                 <h3>Size</h3>
                            </td>
                             <td class="FieldLabel">
                                <h3> Date </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="image">
                                	<img src="orange_cap.jpg" alt="orange cap" width="100" height="100"></div>
                            </td>
                            <td>
                                <div id="model">
                                	A123</div>
                            </td>
                            <td>
                                <div id="color">
                                	Orange</div>
                            </td>
                            <td>
                                <div id="size">
                                	M</div>
                            </td>
                            <td>
                                <div id="date">
                                	11/21/2021</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="image">
                                	<img src="orange_cap.jpg" alt="orange cap" width="100" height="100"></div>
                            </td>
                            <td>
                                <div id="model">
                                	A456</div>
                            </td>
                            <td>
                                <div id="color">
                                	Pink</div>
                            </td>
                            <td>
                                <div id="size">
                                	M</div>
                            </td>
                            <td>
                                <div id="date">
                                    11/21/2021</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="image">
                                	<img src="orange_cap.jpg" alt="orange cap" width="100" height="100"></div>
                            </td>
                            <td>
                                <div id="model">
                                	A789</div>
                            </td>
                            <td>
                                <div id="color">
                                	Green</div>
                            </td>
                            <td>
                                <div id="size">
                                	M</div>
                            </td>
                            <td>
                                <div id="date">
                                	11/21/2021</div>
                            </td>
                        </tr>
        </table>
	
</div>
</body>
</html>